body {
    background: #111;
    color: white;
    font-family: Arial;
    margin: 0;
}

.chat-container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding-top: 30px;
}

#chat-box {
    height: 70vh;
    overflow-y: auto;
    background: #222;
    border-radius: 10px;
    padding: 20px;
}

.message {
    margin-bottom: 15px;
}

.user {
    color: #4da6ff;
}

.bot {
    color: #ff4d4d;
}

img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.input-area {
    display: flex;
    margin-top: 15px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px;
    margin-left: 10px;
    background: #4da6ff;
    border: none;
    border-radius: 10px;
    color: black;
}